<h1><%= @merchant.name %></h1>

<h2> Bulk Discounts: </h2>
<ol>
<% @merchant.discounts.each do |discount| %>
  <section id="discount-<%= discount.id %>">
    <li>
      Percentage Discount: <%= discount.percent %>% |
      Quantity Threshold: <%= discount.threshold %>
      <p>
        <%= link_to "See More Details", merchant_discount_path(@merchant, discount) %> |
        <%= link_to "Delete this Discount", merchant_discount_path(@merchant, discount), method: :delete %>
      </p>
    </li>
  </section>
<% end %>
</ol>

<%= link_to "Create New Discount", new_merchant_discount_path(@merchant) %>
