<h1><%= @merchant.name %></h1>

<h2> Bulk Discounts: </h2>
<ol>
<% @merchant.discounts.each do |discount| %>
  <section id="discount-<%= discount.id %>">
    <li>
      Percent Off: <%= discount.percent %>% |
      Quantity Threshold: <%= discount.threshold %>
      <%= link_to "See More Details", merchant_discount_path(@merchant, discount) %>
    </li>
  </section>
<% end %>
</ol>

<%= link_to "Create New Discount", merchant_discounts_path(@merchant), method: :post %>
